h1 {
  color: ##7FB3D5; 
}

.container {
    width: 100%; /* Set the container width to fill the viewport */
    max-width: 1200px; /* Set a maximum width to avoid stretching on larger screens */
    margin: 0 auto; /* Center the container */
}
