h1 {
  color: black; 

  .pt-serif-regular {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}
}

header{
  display: flex; 
  align-itmes: center;
}

header h1{
  margin-right: auto; 
}
.container {
    width: 100%; /* Set the container width to fill the viewport */
    max-width: 1200px; /* Set a maximum width to avoid stretching on larger screens */
    margin: 0 auto; /* Center the container */
}

nav ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
   
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
  
}

nav ul li {
    display: inline-block; /* Display list items horizontally */
    margin-right: 50px; /* Add spacing between list items */
  
}
}

nav ul li a {
    text-decoration: underline; /* Remove underlines */
    color: black; /* Set link color */
}

nav ul li a:hover {
    color:  #5787A7; /* Change link color on hover */
}
