h1 {
  color: #5787A7; 
}

.container {
    width: 100%; /* Set the container width to fill the viewport */
    max-width: 1200px; /* Set a maximum width to avoid stretching on larger screens */
    margin: 0 auto; /* Center the container */
}

nav ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

nav ul li {
    display: inline-block; /* Display list items horizontally */
    margin-right: 20px; /* Add spacing between list items */
}

nav ul li a {
    text-decoration: none; /* Remove underlines */
    color: black; /* Set link color */
}

nav ul li a:hover {
    color: blue; /* Change link color on hover */
}
